/* CSS for ChiliPeppr Widget */

#com-chilipeppr-grbl-joystick {
   
}


.x-bar-container div, .y-bar-container div{
    float:left;
}

.progress {
    width: 50%;
}
.bar-neg{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.bar-pos{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.x-bar-axis, .y-bar-axis{
    width:20%;
}

.progress-bar-container{
    width: 80%;
}